h1, h2, h3 {
    font-family: $helveticaNeue;
}
.regular-text {
    font-family: $openSansFontFamily;
}
.small-heading {
    font-family: $montserratFontFamily;
}
.featured-section-wrapper {
    background-color: $featured_section_background;
    padding: 4rem 0;
    .featured-section {
        @media(min-width: 1024px) {
            padding: 0 6rem;
        }
        .featured-section-logos {
            @media(min-width: 1200px) {
                justify-content: space-between !important;
            }
        }
    }
    p {
        padding-bottom: 0.5rem;
        font-size: 1.7rem;
        line-height: 1.5;
        color: #69696C;
        @media(max-width: 768px) {
            text-align: center;
            font-size: 1rem;
        }
    }
    @media(max-width: 1200px) {
        .featured-section-logos {

            align-items: center;
            flex-wrap: wrap;

        }
    }

    @media(max-width: 560px) {
        .featured-section-logos {
            flex-direction: column;
        }
    }

    .featured-logo {
        padding: 0.8rem;
        img {
           // width: 100%;
            height: 40px;
            @media(max-width: 560px) {
                height: 30px;
            }
            opacity: 0.5;
        }
    }
}

.header-headline-wrapper {
    background-color: $header_headline_wrapper_background;
    padding: 3rem 0;
    margin-top: -10px;
    .headline-text-content {
        margin: 0 auto;
        h2 {
            text-align: center;
            color: $header_headline_text;
            @media(max-width: 768px) {
                font-size: 1.3rem;
            }
            @media(max-width: 425px) {
                font-size: 1rem;
            }
            font-size: 2.5rem;
            line-height: 1.5;
        }
        h3 {
            text-align: center;
            color: $header_headline_text;
            font-size: 1.8rem;
            line-height: 1.5;
            font-family: $montserratFontFamily !important;
            @media(max-width: 768px) {
                font-size: 1.1rem;
            }
            @media(max-width: 425px) {
                font-size: 0.8rem;
            }
        }
    }
}

.step-by-step-content-wrapper {
    padding: 4rem 0;
    background-color: $step_by_step_wrapper_background;
    text-align: center;
    h2 {
        color: $white;
        font-size: 2.5rem;
        font-family: $helveticaNeue;
        font-style: italic;
        @media(max-width: 768px) {
            font-size: 1.3rem;
        }
        @media(max-width: 425px) {
            font-size: 1rem;
        }
        line-height: 1.5;
    }
}
.step-by-step-video-wrapper {
    h2 {
        @media(max-width: 768px) {
            font-size: 1.5rem;
        }
        @media(max-width: 425px) {
            font-size: 1rem;
        }
    }
    background-color: $step_by_step_video_backgroubd;//$step_by_step_wrapper_background;
   // padding-top: 4rem;
    .sbs-content {
        margin: 0 auto;
        .sbs-title {
            text-align: center;
            padding-bottom: 2rem;
            h2 {
                color: $white;
                font-size: 2.5rem;
                @media(max-width: 768px) {
                    font-size: 1.3rem;
                }
                line-height: 1.5;
            }
        }
        .promo-image {
            cursor: pointer;
        }
        .sbs-video {
            img, video {
                width: 100%;
            }
        }
    }
}

.inside-sfs-wrapper {
    background-color: $inside_sfs_wrapper_background;
    padding: 4rem 0;
    @media(max-width: 768px) {
        text-align: center;
    }
    .inside-sfs-text {
        h2, p {
            color: $white;
        }
        h2 {
            text-transform: uppercase;
            font-size: 2rem;
            line-height: 1.5;
        }
        p {
            font-size: 1rem;
            line-height: 1.5;
        }
    }
    .inside-sfs-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
            text-transform: uppercase;
            font-size: 1rem;
            line-height: 1.5;
        }
        .text {
            font-size: 1rem;
            line-height: 1.5;
        }
        p {
            color: $white;
            padding-bottom: 0.1rem;
            margin-bottom: 0.1rem;
        }
        a {
            margin-top: 0.5rem;
        }
    }
}


.testimonials-wrapper {
    background-color: $testimonial_wrapper_background;
    padding: 6rem 0;
    .testimonial-avatar {
        img {
            width: 150px;
        }
    }
    @media(max-width: 500px) {
        .testimonial-item {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .testimonial-content {
                text-align: center;
            }
        }
    }
    .testimonial-avatar, .testimonial-content {
        padding: 1rem;
    }
    .testimonial-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .testimonial-text {
            font-style: italic;
        }
        .testimonial-text, .testimonial-author {
            color: $white;
            font-size: 1rem;
        }
        .testimonial-author {
            margin-bottom: 0.4rem;
            line-height: 1;
        }
    }
}

.sfs-modules-wrapper {

    .sfs-module-one {
        position: relative;
        background-size: cover;
    }
    .sfs-module-one::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        filter: brightness(10%);
        background-size: cover;
        background-image: url(/images/module_one_nav.jpg);
    }
    .sfs-module-one-inside {
        /* This will make it stack on top of the ::before */
        position: relative;
    }

    background-color: $sfs_modules_wrapper_background;
    #modules-nav .nav-item .active .module-nav-subtitle {
        display: none;
    }
    #modules-nav .nav-item .active .module-nav-title {
        display: none;
    }
    .modules-nav-images {
        //max-width: 1600px;
        margin: 0 auto;

    }
    .tab-content {
        padding: 4rem 0;

        .module-content {
            h2 {
                font-size: 2rem;
            }
            h3 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1rem;
            }
            h2, h3, p {
                color: $black;
                line-height: 1.5;
            }
        }
    }
    #modules-nav {
        .nav-item {
            margin: 0!important;
            padding: 0 !important;
            .module-nav-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                text-align: center;
                padding: 2rem 5rem;
                &.module-two {
                    background-position: bottom;
                }
                &:hover {
                    .module-nav-subtitle, .module-nav-title {
                        color: $white;
                    }
                }
                .module-nav-title {
                    font-family: $montserratFontFamily;
                    color: #8BB9CE;
                    font-size: 2rem;
                    @media(max-width: 1024px) {
                        font-size: 1.5rem;
                    }
                    text-transform: uppercase;
                    padding-bottom: 3rem;
                    padding-top: 1rem;
                }
                .module-nav-subtitle {
                    font-family: $helveticaNeue;
                    color: #8BB9CE;
                    font-size: 4rem;
                    @media(max-width: 1024px) {
                        font-size: 3rem;
                    }
                    @media(max-width: 768px) {
                        font-size: 2.4rem;
                    }
                    text-transform: uppercase;
                    line-height: 1.2;
                }
            }
            .nav-link {
                //opacity: 0.8;
                &.active {
                 //   opacity: 1;
                }
            }
        }
        .module-nav-item {

            @media(min-width: 1024px) {
                min-height:610px ;
            }

            @media(min-width: 1400px) {
                min-height:680px ;
            }

            @media(max-width: 1024px) {
                min-height: 490px;
            }
            width: 100% ;
            background-size: cover !important;
        }
        .module-one {
            background: url(/images/module_one_nav3.jpg);
            &.active {
                background: url(/images/module_one_nav.jpg);
            }
        }
        .module-two {
            background: url(/images/module_two_nav1.jpg);
            &.active {
                background: url(/images/module_two_nav.jpg);
            }
        }
        .module-three {
            background: url(/images/module_three_nav2.jpg);
            &.active {
                background: url(/images/module_three_nav.jpg);
            }
        }
    }
    .load-images-1 {
        background: url(/images/module_one_nav.jpg);
    }
    .load-images-2 {
        background: url(/images/module_two_nav.jpg);
    }
    .load-images-3 {
        background: url(/images/module_three_nav.jpg);
    }
    .modules-m {
        display: none;
    }
    @media(min-width: 768px) {
        #modules-m {
            display: none;
        }
    }
    @media(max-width: 768px) {
        #modules-d {
            display: none;
        }
        #modules-m {
            display: block;
        }
    }
}

.about-simon-wrapper {
    background-color: $about_simon_wrapper_background;
    padding: 4rem 0;
    @media(max-width: 540px) {
        flex-direction: column;
    }

        .one-to-one-wrapper {
            display: flex;
            @media(max-width: 425px) {
                .sfs-btn {
                    font-size: 14px;
                }
            }
            h2 {
                font-size: 2rem;
                color: $white;
                line-height: 1.5;
            }
            p {
                font-size: 1rem;
                color: $white;
                line-height: 1.5;
                padding: 1rem 0;
            }
            .one-to-one-image {
                @media(max-width: 768px) {
                    display: none;
                }
                img {
                    margin-top: -3rem;

                    width: 650px;
                    @media(max-width: 1200px) {
                        width: 450px;
                    }
                    //margin-right: -200px;
                    //opacity: 0.8;
                }
            }
        }
        .about-image {
            img {
                max-height: 400px;
                @media(max-width: 540px) {
                    height: auto;
                    max-height:670px;
                    width: 100%;
                }
            }
        }
        .about-content {
            background-color: $about_simon_text_background;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 2rem 4rem;
            @media (max-width: 768px) {
                padding: 1.5rem 3rem;
            }
            h2 {
                font-size: 2rem;
                line-height: 1.5;
            }
            p {
                font-size: 1rem;
                line-height: 1.5;
            }
            h2, p {
                color: $white;
            }
        }
}

.faq-wrapper {
    background-color: $faq_wrapper_background;
    padding: 4rem 0;
    h2 {
        font-size: 2rem;
        line-height: 1.5;
        &:nth-child(1) {
            padding-bottom: 1.5rem;
        }
        &.faq-title {
            padding: 1.5rem 0;
        }
    }
    p {
        font-size: 1rem;
        line-height: 1.5;
    }
    h2, p {
        color: $black;
    }

}

.uppercase {
    text-transform: uppercase;
}
.footer {
    background-color: $footer_wrapper_background;
    padding: 2rem 0;
}
