.main {
    &.inactive {
        z-index: -9999;
        opacity: 0.7;
    }
}
.logo-r {

    @media(min-width: 541px) {
        display: none;
    }
}
.logo-d {
    @media(max-width: 540px) {
        display: none;
    }
}
.logo {
    img {
        //width: 200px;
        height: 50px;
    }
}
.hamburger-nav {
    width: 50px;
    cursor: pointer;
}
.navbar {
    background-color: transparent;
    z-index: 999;
    padding-top: 3rem;
    .nav-link {
        cursor: pointer;
    }
}
header {
    margin-top: -8rem;
}
.video-heading {
    video.hidden {
        display: none;
    }
    .sfs-cover-image {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        min-height: 500px;
        @media (min-width: 1440px) {
            margin-top: -14rem;
        }
        @media(max-width: 510px) {
            position: absolute;
            object-fit: cover;
            width: 160%;
            height: 67%;
        }


    }
    @media(max-width: 540px) {
        min-height: 440px;
    }
    @media(max-width: 425px) {
        min-height: 505px;
    }
    video {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        @media (min-width: 1440px) {
            margin-top: -14rem;
        }

        @media(max-width: 540px) {
            position: absolute;
            object-fit: cover;
            width: 160%;
            height: 60%;
        }

        @media(max-width: 425px) {
            height: 62%;
        }

        @media(max-width: 414px) {
            height: 68%;
        }

        @media(max-width: 375px) {
            height: 78%;
        }

        @media(max-width: 375px) and (min-height: 800px) {
            height: 61%;
        }


        @media(max-width: 320px) {
            height: 88%;
        }

        //max-height: 90vh;
    }
}


.heading-text-wrapper {
    position: absolute;
    top: 35%;

    .webinar-button {
        display: flex;
        margin-top: 1rem;
        float: left;
        @media(max-width: 425px) {
            .sfs-btn {
                padding: 0.5rem 0.9rem;
                font-size: 0.8rem;
            }
        }
    }

    @media(max-width: 1024px) {
        top: 25%;
    }

    @media(max-width: 768px) and (min-height: 1024px) {
        top: 20%;
    }

    @media(max-width: 1024px) and (min-height: 1336px) {
        top: 20%;
    }

    left: 0;
    right: 0;
    margin: auto;
    .heading-text {
        padding: 0;
        display: flex;
        flex-direction: column;
        &.title-text {
            h1 {
                @media(min-width: 1440px) {
                    font-size: 4rem;
                }
                font-size: 3rem;
                @media(max-width: 768px) {
                    font-size: 1.8rem;
                }
            }
            p {
                @media(min-width: 1440px) {
                    font-size: 1.8rem;
                }
                font-size: 1.25rem;
                @media(max-width: 768px) {
                    font-size: 1rem;
                }
            }
            h1, p {
                color: $header_video_text;
                float:left;
                text-align: left;
            }
        }
    }
    .cta-button {
        @media (max-width: 768px) {
            margin-top:1rem;
        }
        .cta-wrapper {
            float: right;
            @media(max-width: 768px) {
                float:left;
            }

            p {
                color: $white;
                font-family: $montserratFontFamily;

                &:nth-child(2) {
                    font-size: 0.8rem;
                    margin: 0;
                    padding: 0.5rem 0 0 0;
                }

                &:nth-child(3) {
                    font-size: 1.5rem;
                    font-family: $helveticaNeue;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
