// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$black: #000000;
$btn-yellow: #EDE316;
$btn-text: #2F4550;


// section colors
$featured_section_background: #D1D2D4;
$inside_sfs_wrapper_background: #353B40;
$testimonial_wrapper_background: #0D0C0D;
$faq_wrapper_background: #fff;
$sfs_modules_wrapper_background: #031223;
$header_headline_wrapper_background: #231F20;
$step_by_step_wrapper_background: #00263A;
$about_simon_wrapper_background: #353B40;
$about_simon_text_background: #070708;
$footer_wrapper_background: #00263A;
$left_menu_background: #031223;


// font colors
$header_headline_text: #8CB9CE;

// font names
$helveticaNeue: "Helvetica Neue Condensed Black";
$montserratFontFamily: 'Montserrat', sans-serif;
$openSansFontFamily: 'Open Sans', sans-serif;
