// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$btn-yellow: #EDE316;
$btn-text: #1C2425;


// section colors
$featured_section_background: #cccccc;
$inside_sfs_wrapper_background: #171919;
$testimonial_wrapper_background: #0D0C0D;
$faw_wrapper_background: #0D0C0D;
$sfs_modules_wrapper_background: #031223;
